<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file >
  </welcome-file-list>
  <!-- name and path -->
  <servlet>
  	<servlet-name>Servlet01</servlet-name>
  	<servlet-class>learnServlet.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet01</servlet-name>
  	<url-pattern>/a</url-pattern>
  </servlet-mapping>

  
  <servlet>
  	<servlet-name>Servlet02</servlet-name>
  	<servlet-class>learnServlet.Servlet02</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet02</servlet-name>
  	<url-pattern>/b</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Servlet03</servlet-name>
  	<servlet-class>learnServlet.Servlet03</servlet-class>
  	<load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet03</servlet-name>
  	<url-pattern>/c</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Servlet04</servlet-name>
  	<servlet-class>learnServlet.Servlet04</servlet-class>
  	<load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet04</servlet-name>
  	<url-pattern>/d</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ServletConfig01</servlet-name>
  	<servlet-class>learnServlet.ServletConfig01</servlet-class>
  	<init-param>
  		<param-name>address</param-name>
  		<param-value>shanghai</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletConfig01</servlet-name>
  	<url-pattern>/e</url-pattern>
  </servlet-mapping>
</web-app>