<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>servletdemo.HelloWorld</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>servletdemo.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>servletdemo.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckBox</servlet-name>
    <servlet-class>servletdemo.CheckBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBox</servlet-name>
    <url-pattern>/CheckBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servletdemo.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servletdemo.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet2</servlet-name>
    <servlet-class>servletdemo.RegisterServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet2</servlet-name>
    <url-pattern>/register2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeroListServlet</servlet-name>
    <servlet-class>servletdemo.HeroListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroListServlet</servlet-name>
    <url-pattern>/listHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeroAddServlet</servlet-name>
    <servlet-class>servletdemo.HeroAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroAddServlet</servlet-name>
    <url-pattern>/addHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeroDeleteServlet</servlet-name>
    <servlet-class>servletdemo.HeroDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroDeleteServlet</servlet-name>
    <url-pattern>/deleteHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeroEditServlet</servlet-name>
    <servlet-class>servletdemo.HeroEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroEditServlet</servlet-name>
    <url-pattern>/editHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeroUpdateServlet</servlet-name>
    <servlet-class>servletdemo.HeroUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroUpdateServlet</servlet-name>
    <url-pattern>/updateHero</url-pattern>
  </servlet-mapping>
</web-app>