<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"> 
        <!-- bean definitions here -->
	
	<!-- Spring IOC注解入门 -->
	<!-- 需要配置一个扫描 -->
	<context:component-scan base-package="springDemo01"></context:component-scan>
	<context:component-scan base-package="SpringDemo02"></context:component-scan>
	<context:annotation-config/>
	<bean id="productService" class="SpringDemo03.ProductService">
	</bean>
	
	<bean id="orderDao" class="SpringDemo03.OrderDao"></bean>
	<bean id="productDao" class="SpringDemo03.ProductDao"></bean>
</beans>